@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Catppuccin Macchiato */
:root {
  /* Base */
  --ctp-base: #24273a;
  --ctp-mantle: #1e2030;
  --ctp-crust: #181926;

  /* Surfaces */
  --ctp-surface0: #363a4f;
  --ctp-surface1: #494d64;
  --ctp-surface2: #5b6078;

  /* Text */
  --ctp-text: #cad3f5;
  --ctp-subtext1: #b8c0e0;
  --ctp-subtext0: #a5adcb;

  /* Accent colors */
  --ctp-blue: #8aadf4;
  --ctp-lavender: #b7bdf8;
  --ctp-sapphire: #7dc4e4;
  --ctp-sky: #91d7e3;
  --ctp-teal: #8bd5ca;
  --ctp-green: #a6da95;
  --ctp-yellow: #eed49f;
  --ctp-peach: #f5a97f;
  --ctp-maroon: #ee99a0;
  --ctp-red: #ed8796;
  --ctp-mauve: #c6a0f6;
  --ctp-pink: #f5bde6;

  font-family: 'JetBrains Mono';
}

body {
    /*
    margin-top:   20px;
    margin-left:  20px;
    margin-right: 20px;
    padding: 0;
    height: 100%;
    width:  100vh;

    background: var(--ctp-base);
    color: var(--ctp-blue);
    */

    background: var(--ctp-base);
    color: var(--ctp-blue);
}

h1 {
    color: var(--ctp-blue);
}

#upload-data {
    border: none;
    color: var(--ctp-blue);
    font-family: 'JetBrains Mono';
    background: var(--ctp-mantle);
}

#upload-data:hover {
    background: var(--ctp-blue);
}

#upload-data:hover button {
    color: var(--ctp-mantle);
}

#upload-data button {
    border: none;
    font-size: 16px;
    color: var(--ctp-blue);
    font-family: 'JetBrains Mono';
    background: rgba(0, 0, 0, 0);

    padding: 12px 20px;
}

#app-root {
    position: fixed;
    top:   30px;
    right: 30px;

    display: flex;
    flex-direction: column;
    width: 400px;

    z-index: 999;
}

.dash-graph {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 998;
}

/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tab {
    background: var(--ctp-mantle);
    padding: 12px 20px;
}

.tab:hover {
    background: var(--ctp-blue);
    color: var(--ctp-mantle);
}

.tab--selected {
    background: var(--ctp-blue);
    color: var(--ctp-mantle);
}

.tab--selected:hover {
    background: var(--ctp-blue);
    color: var(--ctp-mantle);
}

.tab-parent--above-breakpoint 
.tab-container:not(.tab-container--vert) 
.tab--selected, 
.tab-parent--above-breakpoint 
.tab-container:not(.tab-container--vert) 
.tab:last-child.tab--selected {
    border: none;
}

/* Dropdowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dash-dropdown {
    background: var(--ctp-mantle);
    border: 0px solid var(--ctp-text);
    border-radius: 0px;

    font-size: 20px;

    display: block;
    flex: 2;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 50px;
    cursor: pointer;
    overflow: hidden;

    padding-bottom: 0px
}

.dash-dropdown:focus {
    border: 0px solid var(--ctp-text);
    border-radius: 0px;
    outline: none;
}

.dash-dropdown-trigger-icon {
    color: var(--ctp-text);
    width:  20px;
    height: 20px;
}

.dash-dropdown-search-container {
    background: var(--ctp-mantle);
    accent-color: var(--ctp-blue);
}

.dash-dropdown-search {
    color: var(--ctp-text);
}

.dash-dropdown-search-container:focus-within {
    border-color: var(--ctp-blue);
    outline: 1px solid var(--ctp-blue);
}

.dash-dropdown-search-container:focus-within .dash-dropdown-search-icon {
    color: var(--ctp-blue);
}

.dash-dropdown-content {
    background: var(--ctp-mantle);
    border: 0px solid var(--ctp-text);
    border-radius: 0px;
    color: var(--ctp-text);
}

.dash-options-list-option {
    color: var(--ctp-text);
    font-size: 20px;
}

.dash-options-list-option:not(:has(input[disabled])):hover, 
.dash-options-list-option:not(:has(input[disabled])):focus-within {
    color: var(--ctp-sapphire);
}